<div class="container mt-3">
  <div class="card">
    <div class="card-header">Search Customers</div>
    <div class="card-body" *ngIf="searchFormGroup">
      <form [formGroup]="searchFormGroup" (ngSubmit)="searchCustomers()">
        <div class="input-group">
          <input type="text" class="form-control" formControlName="keyword" placeholder="Search...">
          <button class="btn btn-info">
            <i class="bi bi-search"></i>
            Search
          </button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="errorMessage!=undefined">
    {{errorMessage}}
  </div>
  <div *ngIf="customers">
    <div class="card mt-3">
      <div class="card-header">Customers List</div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let customer of customers">
            <td>{{customer.id}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.email}}</td>
            <td>
              <button class="btn btn-info btn-sm me-2">Edit</button>
              <button (click)="deleteCustomer(customer)" class="btn btn-danger btn-sm">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
